%h1 FIFTY THREE GIRLS ONE CUP
%h2 Dude, you read the title. There is literally a video of 53 girls and one cup on the bottom of this page.
%p I could have immediately blasted it above-the-fold, in full, charming HD quality, set it to autoplay and used Computer Hacking to turn up your speaker's volume for full effect. But hey, I'm a nice guy; the video is just below.
%p This video is disgusting. It's got chicks, it's got cups, it's got things transported from one to the other and back again ad nauseam. And that brings "ad nauseam" straight back to its original damn meaning, dammit. This will rock your nauseam so much that you'll wonder where it's been hiding this whole time.
%p So. Right. The video. It's right below.
%p Almost there.
%p Ah, hell, this isn't even a good ploy. There is no video, friend. I've been unwittingly pulling your leg this whole while. It was all in jest; as far as I know, they've only gotten to four girls, one cup, which is far beneath our original goal set forth.
%p The main reason behind this is a subtle reminder not to blindly click a link without knowing where it's going, my friend. Because the next time you do might be your last.
%p 
  %b YOUR LAST.
%p== Anyway, <b>#{@total}</b> people have been blindly clicking too, so don't feel that bad.
%p== Boy, <b>#{@total}</b> is getting to be a lot of people, isn't it? We should invite all of them over, get a high-end video camera, place a solitary cup in the middle of the- no? Okay, suit yourself then.