%h1 Let's be honest. You have no idea how you got here.
%h2 I know how it starts out. You see a list of links on your twitter stream, or hit the front page of a reddit or a digg.
%p You furiously sit, clicking any ol' link that you see. 
%p "Ooh, a new Google project! Nice!" <b>*CLICK*</b>
%p "A new monkey? In Africa? At this time of year? NO WAY!" <b>*CLICK*</b>
%p "Ten steps on your way to scoring a model? I'm an attractive human! I'm halfway there!" <b>*CLICK*</b>
%p Before you know it, you're eighty-six tabs deep and halfway to massaging your computer's RAM to let you click on oh god, just one more link- I need to find out more details on what Bush was hiding during 9/11!
%p That's when it happens. BOOM!
%p Here, let me reiterate in outlandishly large, bold Helvetica once more.
%h1 BOOM!
%p Now you have this random page open in your fifty-ninth tab, it's screaming at you in the first H1, you have no idea what link you clicked here, who sent you, and which trendy social network to go back to so you can furiously downvote it with a pithy remark about its lackluster substantiation.
%p Hey, I'm just trying to help you out. Slow down, take a breath, and practice safe surfing. You'll thank me later.
%p== <b>#{@total}</b> others have also wondered how the hell they got here.