<style type="text/css">body{background-color: #000; color: #f00;} a{color: #fff}</style>
%h1 omg, this page is hard to read
%h2 Why the hell do people put anything on black backgrounds, much less blood red text on it?
%p I mean, it's legible and all, but crikey it hurts your eyes.
%p You know why this is happening? Because you didn't have the fortitude to ignore that random retweet or link or however it was you got here. You knew it had no explanation when you clicked it, but you clicked the damn thing anyway.
%p So you get <b>RED</b> on <b>BLACK</b>. Ewww. That's just disgusting, really. Kinda makes me want to be violent.
%p== <b>#{@total} other people</b> have gouged their eyes out after visiting this joint.