%h1 ANGRY MAN CONSPIRACY BLOG POST
%h2 Thanks for the click. Now I'm going to spend an inordinate amount of time bitching about The System and The Man.
%p You see, I feel like I've been slighted by The Man for years. Possibly even, like, three years.
%p And don't get me started about The System. Every time I feel like I've got a handle on life, there he is, The Man is using The System to keep me down. Usually The System is a conspiracy unto itself. The Government is <b>ALWAYS</b> using The System to conspire against us. Here, let me flaunt my sophomore year philosophy skills on you:
%p <em>Kierkegaard</em>.
%p See? That lends credence to my argument since it's about big sweeping gestures that can't be easily disproven. Clearly I'm correct. Like, for reals.
%p Anyway, you've been warned: if you keep clicking on every damn random link you stumble on, before you know it you're going to end up on some lameass Angry Man Conspiracy Blog Post for real, and then you'll be screwed. Trust me, I know. You know how I know?
%p <em>Nietzsche</em>.
%p== Luckily, #{@total} others have stumbled into this zany blog post, and look, there's not even any comments to rebut. How convenient.
%p 9/11 was a smokescreen.