%h1 GLORIOUS, GLORIOUS NAKED PEOPLE ALL OVER YOUR SCREEN
%h2 Little do you know, THERE'S CRAZY NAKED ALL OVER THIS PAGE!
%p Since you just clicked a <b>RANDOM-ASS LINK</b> somewhere on the internet, this is your payback. TONS and TONS of porn! Just look at it, right below! It's got naked ladies! It's got naked gentlemen! They're doing lots of naked activities together! Oh, it's so dirty! And scandalous!
%p I'm actually going to end this gig right here, since I'm sure most of you tend to find the naked human body alluring. I'll never understand it, myself, but hey, I'm not going to judge.
%p== <b>#{@total}</b> of you have enjoyed yourself, blindly clicking away on random links. You dirty scumbag.