:javascript
  var ROFLCOUNTER = 1;
  setInterval("document.getElementById('counter').innerHTML = ROFLCOUNTER++",500)
%h1 POP UP POP UP POP UP
%h2 I'm currently popping up two new pop up windows every second behind this window.
%p See? I'm being a nice guy, so I'm keeping track of how many of those <b>SUPER ANNOYING</b> pop up windows I'm creating. 
%p So far I've popped up <span id="counter"><script>document.write(ROFLCOUNTER)</script></span> windows already. You're totally going to be stuck clicking on all of those "X"s. Boy, am I glad I'm not you. After all, it's way easier to make windows than it is to close them.
%p I bet you're kicking yourself now. "Why oh why did I blindly click this indiscriminate link I found on the interweb?" I'll tell you why: you have an insatiable appetite. I hope your appetite includes closing <b><em>MAD POP UP WINDOWS!!!</em></b>
%p Ah, forget it. You seem like a nice guy. Actually, you're also a nice lady. It really depends on what you are. I'm just kidding about those popup windows, of course; I sent them to an email marketer instead. I like you. But let this be a lesson. The next random link you click might have <b><em>MAD POP UP WINDOWS!!!</em></b> all up in its figurative grill.
%p== And yeah, there's been #{@total} suckas out there, furiously clicking away, just like you. How charming.