%h1 CUE LOUDEST AUTO-PLAYING BACKGROUND MUSIC EVER
%h2 Get ready for it! Your speakers are going to blow the hell up.
%p If you're using headphones, watch out. If you're using earbuds, prepare for some internal bleeding. If you're using in-ear noise canceling ear thingies, you're just straight-up going to die.
%p I'm serious. We're buffering the music right now. It's going to be epic.
%p The last time this happened was in 1945. It was a wayward government project based out of New Jersey, but it was so loud it blew a sound wave through the earth and blasted through the other side. Poor Truman had to send a few bombers to drop some rocks on Japan to try to cover it up.
%p Any second now. Your house is probably going to be liquified. Though given today's housing market, that's probably a blessing to be liquid.
%p I'm just kidding, of course. There's no background music. I'm not that terrible of a person. I just want you to be nervous about clicking on links of questionable origin in the future. Because the next time Mildred, your pet hamster, might get blown through your own kneecap by the shockwave of annoying background music. Luckily, I was just kidding.
%p Wasn't kidding about your house, though. You're probably screwed.
%p== At a bare minimum, <b>#{@total} others</b> have frantically turned down their speakers in preparation for a whopper of a lie. My bad.