%h1 TEXTUAL RICKROLL
%h2
  This
  %b COULD
  have been an epic, vile rickroll.
%p
  Consider yourself lucky. Really, I can't believe you just blindly clicked on a link like that. I'm deeply dissatisfied.
%p But I forgive you. In fact, I'm never going to give you up.
%p I probably won't even let you down.
%p I might run around your dessert
%p And subsequently make you cry
%p But I'll never say goodbye
%p 
  Like I said to a full
  %b= @total
  of you that have blindly clicked this drivel.