%h1 RAWR! MAD VIRUSES IN YOUR BODY
%h2 You just clicked the hell out of a random link on the internet.
%p
  This could have been a
  %b MASSIVE VIRUS ATTACK
  since this link was just randomly posted somewhere with no explanation.
%p 
  Quite frankly, are you
  %b NUTS?
  Look at how I had to add an extra bit of bold text to the previous nuts. Anytime you have bold nuts, it's just devastating.
%p
  It's way, super easy to go with the flow and click on anything that gets dropped in your feedreader or twitter stream, but take it from us, we just saved you with this idiosyncratically long-winded explanation. Viruses could be eating your hard drive and disseminating nuclear secrets to former Cold War era opponents, but no, you totally lucked out with us this time.
%p
  Don't worry; so far
  %b= @total
  of you have been suckers.