!!!
%html
  %head
    %title You blind-link-clicker, you
    %link{:rel=>'stylesheet', :href=>'style.css', :type => "text/css"}       
  %body
    = yield
    #footer
      While you're at it, you might as well just blindly <a href="http://twitter.com/holman">click this</a>, too.