%html
  %head
    %title MALICIOUS THINGS ARE HAPPENING *RIGHT NOW*
    %link{:rel=>'stylesheet', :href=>'style.css', :type => "text/css"}       
  %body
    = yield
    #footer
      While you're at it, you might as well just blindly <a href="http://twitter.com/holman">click this</a>, too. And once you're done with that, really <a href="http://twitter.com/?status=http://bit.ly/v4VuB">work and massage this one in</a> as well. <br /><br /> And feel free to refresh this page. I write these in lieu of finding true love.
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-251125-3");
  pageTracker._trackPageview();
  } catch(err) {}</script>